html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#box {
  border: 1px solid red;
  width: 400px;
  height: 2000px
}

#parent {
  margin-top: 500px;
  height: 400px;
  overflow: auto;
  border: 1px solid green;
}

#children {
  height: 600px;
  background: pink;
}
